{%  extends "base.html.twig" %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Date de création</th>
            <th scope="col">Voir</th>
        </tr>
        </thead>
        <tbody>
        {%  for wish in wishes %}
            <tr>
                <th scope="row">{{ wish.id }}</th>
                <td>{{ wish.title }}</td>
                <td>{{ wish.dateCreated|date('d/m/Y') }}</td>
                <td><a href="{{ url('wish_details', {'id': wish.id}) }}">Voir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<!--Pagination-->
    {#
    {% set nbPages = (total / elementsByPage)|round %}
    <nav>
        <ul class="pagination justify-content-center">
            {% for i in 1..nbPages %}
                <li class="page-item"><a class="page-link" href="{{ url('wish_list', {'p': i}) }}">{{ i }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    #}

{% endblock %}